body {
  background-color: #89CFF0;
  text-align: center;
  border: 3px solid rgb(145, 96, 209);
  font-family: 'Times New Roman', Times, serif; /*multiple fonts used as backup to ensure browser compatability*/
}
.why {
  font-size: 30px;
}
.steps {
  font-size: 25px;
}
img {
  border: 3px solid rgb(145, 96, 209);
  border-radius: 5px;
  padding: 2px;
}
video {
  border: 3px solid rgb(145, 96, 209);
  border-radius: 5px;
  padding: 2px;
}